<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/farm.css" />
    <title>Boom Box</title>
  </head>
  <body>
    <a href="./main.html" class="home block"><div>HOME</div></a>
    <div class="balance_field block"></div>

    <div class="greeting">Choose a pet</div>

    <div class="cards">
      <div class="card">
        <img src="../png/big_parrot.png" alt="parrot" />
        <a href="./pet.html" class="block" data-animal="parrot">Coco</a>
      </div>
      <div class="card">
        <img src="../png/big_eagle.png" alt="eagle" />
        <a href="./pet.html" class="block" data-animal="eagle">Billy</a>
      </div>
      <div class="card">
        <img src="../png/big_frog.png" alt="frog" class="frog" />
        <a href="./pet.html" class="block" data-animal="frog">Pops</a>
      </div>
    </div>
    <script src="../scripts/farm.js" type="module"></script>
  </body>
</html>
