<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/level.css" />
    <title>Boom Box</title>
  </head>
  <body>
    <div class="cards">
      <div class="card">
        <div class="animal"><img src="../png/rabbit.png" alt="rabbit" /></div>
        <div class="blue block">Easy</div>
        <a href="./game.html" class="yellow block"><div>PLAY</div></a>
      </div>

      <div class="card">
        <div class="animal"><img src="../png/snake.png" alt="snake" /></div>
        <div class="blue block">Medium</div>
        <a href="./game.html" class="yellow block"><div>PLAY</div></a>
      </div>

      <div class="card">
        <div class="animal"><img src="../png/big_eagle.png" alt="eagle" /></div>
        <div class="blue block">Hard</div>
        <a href="./game.html" class="yellow block"><div>PLAY</div></a>
      </div>
    </div>

    <div class="hint_cont">
      <div class="hint">
        Hint: The more difficult the level is, the less boxes there are!
      </div>
      <div class="pic_cont">
        <img src="../png/big_parrot.png" alt="parrot" />
      </div>
    </div>

    <div class="balance_field block"></div>

    <script src="../scripts/level.js" type="module"></script>
  </body>
</html>
