<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Boom Box</title>
  </head>
  <body>

    <a href="./farm.html"><div class="button block">ANIMAL FARM</div></a>
    <a href="./level.html"><div class="button block second">FOSTERLING</div></a>

    <div class="eagle"><img src="../png/big_eagle.png" alt="eagle" /></div>
    
    <div class="balance_field block"></div>

    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
